Now, with Pence as vice president and Verma as the head of the federal Medicaid and Medicare programs, Indiana is again blazing its own path on health care, with the Trump administration’s avid encouragement.
Like other states, Indiana recently imposed work requirements on some of the state’s 1.4 million Hoosiers who receive benefits under the health program for low-income Americans. But only a fraction of those Medicaid recipients, estimated at 70,000 people, will actually be affected, according to the state.
“We don’t want to hurt anybody, we’re just making progress in Indiana in improving our health outcomes. We don’t want to change that — that trajectory is important,” Indiana Family and Social Services Administration Secretary Jennifer Walthall said in a recent interview.
Unlike Kentucky, Arkansas and New Hampshire, Indiana isn’t facing massive pushback against its version of work requirements — so far, there have been no legal challenges against it, unlike the ones that resulted in rulings barring their implementation in other states.
There so far has been no massive drop-off in coverage as there has been in Arkansas, where ultimately more than 18,000 enrollees — about one-fourth of those subject to work requirements there — were booted before a federal judge ruled against the state.
The Trump administration is appealing those rulings as it seeks ways to curtail parts of the ACA following Congress’s failure to repeal and replace it. Work requirements surrounding Medicaid, which expanded dramatically under the ACA, are one way administration officials are seeking to put their stamp on the U.S. health-care system. While President Obama refused to sign off on work requirements, Verma’s Centers for Medicare and Medicaid Services has approved them in nine states.
Walthall says her goal in implementing Indiana’s work requirements isn’t to lock people out of safety-net services but to instead prompt them to seek out such services.
“We have to build a program that actually delivers those services, not makes it harder to get them,” Walthall said.
If Arkansas and Kentucky were heavy-handed in imposing their work requirements, Indiana’s program is more like a tap on the shoulder, advocates argue.
“We are so different than those other states,” said Susan Jo Thomas, executive director of Covering Kids and Families of Indiana, a leading group promoting enrollment in safety-net programs. “This is not your Arkansas work requirement, this is not your Kentucky work requirement.”
As the battle over the ACA rages at the federal level, several Republican-led states are heeding calls from Verma to impose new work and volunteering requirements on Medicaid recipients for a program that covers 65 million low-income Americans. The Trump administration says the requirements encourage personal responsibility, but judges have blocked them as tens of thousands of people saw their coverage jeopardized or dropped entirely.
Indiana — which has requirements that are more limited in scope and gradual in implementation — is emerging as a test case of whether it’s possible to require work or volunteering hours to receive Medicaid without also prompting widespread confusion and coverage losses.
Officials here say the state is taking a different path, with Walthall vowing that the requirements, which technically went into effect in January, will be rolled out so gradually that no one currently receiving coverage will lose it.
Walthall argues the purpose of work requirements is to identify the Medicaid enrollees who can take the next step toward self-reliance and give them a push in that direction. The idea — one Verma frequently touts — is that higher levels of employment and education are linked to better health and increased well-being.
“Can people access more education than they thought they would, can they access employment that they didn’t think they could, can they be more engaged in their community and can that end up with improved health outcomes?” Walthall said. “That’s what we want to evaluate.”
Not everyone buys that argument. Fran Quigley, director of the Health and Human Rights Clinic at Indiana University’s law school, said he believes work requirements will cause people to lose coverage and won’t improve their overall health.
“Let me just be real blunt about this . . . this is a politically motivated lie,” he said. “They are inevitably going to cut people in Indiana off of their health care.”
Others argue work requirements are a means of increasing political support for Indiana’s Medicaid expansion under the ACA. Republicans who dominate both state legislative chambers here are generally wary of anything related to Obamacare.
To gain GOP support for expanding Medicaid in 2015, Pence added a requirement for enrollees to contribute a monthly premium pegged to their income and shut them out of the program for up to six months if they failed to pay it.
“There are political trade-offs being made here,” said Kosali Simon, a health economics professor at Indiana University. “What are ways to get business done in Indiana in a way that is politically successful?”
Indiana’s work requirements will affect only about 5 percent of its Medicaid population: those who are in Indiana’s expansion program under Obamacare, called the “Healthy Indiana Plan” (HIP). There are more than a dozen exemptions, including for pregnant women, those who are too sick to work and caregivers of young children.
Officials say many of those who would be affected may already be employed or involved in other activities that satisfy the requirements, including job searching, job training, volunteering or taking college courses.
The state is also slowly implementing the requirements. Although the conditions went into effect in January, enrollees didn’t have to start reporting partial hours until July. A full 80 hours of eligible work will need to be reported a year from now to qualify for Medicaid coverage in the HIP program. Participants would lose coverage only if they fail to meet those requirements five or more months out of the year.
Furthermore, there is no “lockout” period for failing to meet the requirements, which would prevent someone who loses coverage from immediately reentering the program once they comply with it.
Walthall says she’s afraid enrollment in HIP will drop just because of “fearmongering” about work requirements.
No one has yet sued Indiana over the new limits — perhaps reflecting its go-slow approach. Verma said she wouldn’t address Indiana specifically, given her work there in the past. She said letting states implement work requirements in different ways is crucial to discover how to do it well.
“There’s different ways to approach this, and I think that’s why it’s important to allow different states to do this,” Verma told reporters in August.
“There are some lessons Indiana has definitely learned because we’ve had a slow ramp up by watching what was done wrong in those [states],” added Mark Fairchild, director of policy for Covering Kids and Families of Indiana.
It’s too early to tell whether Walthall will be able to keep her promise of no one losing coverage, as enrollees have until year’s end to report their work hours. Jim Gavin, a spokesman for Indiana’s Family and Social Services Administration (FSSA), said “thousands” have reported working so far but the state isn’t ready to share specific figures.
Officials insist they’ve make sure everyone is aware of the new requirements. The FSSA communications team says it has sent 1.2 million emails to Medicaid expansion enrollees and disseminated digital and print ads specifically targeting them.
Medicaid plans themselves are also involved in the effort. Kevin O’Toole, president of Managed Health Services, one of four plans in Indiana that covers Medicaid patients, said his agency has mostly relied on email blasts to educate consumers.
O’Toole stressed that just 15 percent of his plan’s 67,000 HIP members will be subject to the requirements. Of those, an estimated one-third are fulfilling the requirements already. He said the state seems receptive to suggestions, with officials including an exemption for homeless people at his group’s request.
“When you look at how this program has been rolled out, there has been a great deal of advance communication and there’s a tremendous amount of attentiveness,” O’Toole said. “They’re really not trying to exploit people.”
Work requirements still don’t belong in an ideal world for Thomas or Fairchild, who worry about any barrier to people who depend on safety-net programs. But both said they’ve been impressed by the state’s slow ramp-up and state officials’ willingness to consider their concerns. They meet with Walthall on a near-weekly basis to share feedback.
“By their statement of no one losing coverage, they’ve taken on a pretty massive burden to make sure that happens, and that’s something they’re going to be held accountable for,” Fairchild said.
